body{
  transition: color 4s ease, background-color 4s ease;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: line-through;
  }
}


#canvas-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
